node_modules
dist
.vite
.netlify
.DS_Store
coverage
*.log
*.tsbuildinfo
app/dist
server/dist
server/data
server/server/data
server/.env.local
.env.local
.runtime
.edge-headless
yarn.lock
pnpm-lock.yaml
